.place__text {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: calc(100% - 460px - 40px);
  row-gap: 27px;
}

@media screen and (max-width: 1279px) {
  .place__text {
    max-width: calc(100% - 472px);
  }
}

@media screen and (max-width: 1023px) {
  .place__text {
    max-width: calc(100% - 340px - 28px);
    row-gap: 25px;
  }
}

@media screen and (max-width: 767px) {
  .place__text {
    padding: 32px 5% 0;
    max-width: 90%;
  }
}
