.place__text {
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 460px - 40px);
  row-gap: 27px;
}

@media screen and (max-width: 1280px) {
  .place__text {
    width: 100%;
    max-width: calc(100% - 472px);
  }
}

@media screen and (max-width: 1024px) {
  .place__text {
    width: 100%;
    max-width: calc(100% - 340px - 28px);
    row-gap: 25px;
  }
}

@media screen and (max-width: 768px) {
  .place__text {
    width: 100%;
    padding: 32px 5% 0;
    max-width: 90%;
  }
}
