.cover {
  position: relative;
  width: 92.5%;
  height: 740px;
  padding: 0 3.75% 92px;
}

@media screen and (max-width: 1279px) {
  .cover {
    padding: 0 0 92px 0;
    width: 100%;
    height: calc(100vw * 0.625);
  }
}

@media screen and (max-width: 1023px) {
  .cover {
    padding: 0 0 88px 0;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    padding: 0 0 64px 0;
  }
}
