.cover__title {
  position: relative;
  font-family: 'Inter', sans-serif;
  font-weight: 900;
  font-size: 4.5rem;
  line-height: 1.05;
  color: white;
  width: 560px;
  padding: 245px 312px 32px;
  margin: 0;
  text-align: center;
  z-index: 1;
}

@media screen and (max-width: 1279px) {
  .cover__title {
    padding: 0 0 32px;
  }
}

@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 2rem;
    line-height: 1.09;
    max-width: 288px;
    padding: 0 0 16px;
    width: 100%;
  }
}
